<h1>Result</h1>
<p></p>

<%= @result %>
<p></p>
<p>Your score for this party is <%= @score %> points </p>
<p>Your cumulated score for this session is <%= @total_score %> points </p>

<%= link_to "Play Again", new_path %>
